body {    color:black;
font-family: Arial;
margin: 0px;
background-image: url('../aaa.jpg') ;

}

h3, h4  {font-size: 2em;}


h1 {
    text-align: center;
    color: yellow;
    font-size: 5em;
}


 h2 {color: yellow;
    font-size: 3em;
}
 

 .fialova{color:purple}
 .zluta{color:yellow}
 .oranzova{color:orange}
 .greeen{color:green}
 .greeen{color:green}
 .oranzova{color:orange}
 .zluta{color:yellow}
 .fialova{color:pink}
 .over{color: greenyellow}
 .over{color: greenyellow}
 .popis{color: gold}
 h2{font-size: 2em;}

 li{
     margin: 0 20px;
     transition: 1.6s ease;
 }

 li:hover{ font-size: 1.2em;
transition: 1.6s ease;
}


.CS {
    color: yellow;
    }
    
    .TE {
        color: orange;
    }
    
    .WO {
        color:green;
    }
    
    .ow {
        color: yellowgreen;
    }

    
.green {
    color: red;
}
    
.ra {
   color: purple;
}
 